/* noto-sans-kr-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100;
  src: url("fonts/noto-sans-kr-v36-latin-100.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-kr-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 200;
  src: url("fonts/noto-sans-kr-v36-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-kr-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url("fonts/noto-sans-kr-v36-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-kr-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/noto-sans-kr-v36-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-kr-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/noto-sans-kr-v36-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-kr-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 600;
  src: url("fonts/noto-sans-kr-v36-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-kr-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/noto-sans-kr-v36-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-kr-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 800;
  src: url("fonts/noto-sans-kr-v36-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-kr-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  src: url("fonts/noto-sans-kr-v36-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* gasoek-one-regular - korean_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Gasoek One";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/gasoek-one-v3-korean_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* black-han-sans-regular - korean_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Black Han Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/black-han-sans-v17-korean_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html, body {
  background-color: #ffffff;
  color: #000000;
  width: 100%;
  margin: 0;
  line-height: 1.5;
  position: relative;
  font-size: 15px;
  scroll-behavior: smooth;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 100;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.is-unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */ /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
upported by Chrome, Edge, Opera and Firefox */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

hr {
  border: 1px solid #797979;
  margin: 1.425rem 0;
}

button,
input[type=submit],
input:not([type=checkbox], [type=radio]) {
  font-family: "Roboto", sans-serif;
  border: unset;
  height: 39px;
}

button,
input[type=submit] {
  cursor: pointer;
  width: 100%;
  max-width: 240px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  line-height: normal;
  text-decoration: none;
  text-align: center;
  color: #000000;
  transition: filter 0.3s ease-in-out;
}

img,
svg {
  vertical-align: middle;
}

img {
  width: 100%;
}

.carousel-caption {
  z-index: 10000 !important;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

header {
  background: #2f2e2e !important;
  height: 60px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
header nav {
  padding: 0;
  height: 100% !important;
}
header nav .container-fluid {
  height: calc(100% + 15px);
}
header nav .container-fluid .logo-wrapper {
  width: 140px;
}
header nav .container-fluid .navbar-nav {
  gap: 14px;
  height: 100%;
}
header nav .container-fluid .navbar-nav li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .container-fluid .navbar-nav li a, header nav .container-fluid .navbar-nav li .nav-link {
  color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
header nav .container-fluid .navbar-nav li:hover a {
  color: #ede5c7;
}
header nav .container-fluid .navbar-nav li:hover .dropdown-menu {
  position: absolute;
  display: block;
  background: #3a3939;
  border-radius: 0;
  top: 59px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
}
header nav .container-fluid .navbar-nav li:hover .dropdown-menu li {
  border-bottom: 1px solid rgba(138, 138, 138, 0.0588235294);
}
header nav .container-fluid .navbar-nav li:hover .dropdown-menu li a {
  padding: 5px;
  color: #fff;
}
header nav .container-fluid .navbar-nav li:hover .dropdown-menu li a:hover {
  background-color: unset !important;
  color: #ede5c7;
}

.headings {
  width: 60%;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.headings img {
  width: 179px;
  margin-left: 46px;
}
.headings h5 {
  font-weight: 300;
  font-family: "Gasoek One";
  text-align: center;
  font-size: 5em;
  color: #3f3f3f;
}

.thumb-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 4px solid rgba(229, 229, 229, 0.66);
  padding: 10px;
}
.thumb-item .left .title {
  font-weight: bolder;
}
.thumb-item img {
  width: 90px;
}

.my-card {
  border-radius: 10px;
  overflow: hidden;
}
.my-card .my-card-body {
  position: relative;
}
.my-card .my-card-body::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(205, 205, 205, 0);
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.5s ease-in-out;
}
.my-card .my-card-footer {
  text-align: center;
  padding: 10px;
  font-weight: 700 !important;
  background-color: rgba(229, 229, 229, 0.6509803922);
  position: relative;
  z-index: 4;
}
.my-card .my-card-footer .title {
  font-weight: 800;
  font-size: 20px;
  color: #000;
}
.my-card:hover .my-card-body::before {
  background-color: rgba(205, 205, 205, 0.8784313725);
}

.card::before {
  transition: 0.5s ease-in;
  background-color: rgba(230, 230, 230, 0);
}
.card.rounded {
  border-radius: 15px !important;
  overflow: hidden;
}
.card.rounded .img-container {
  position: relative;
}
.card.rounded .img-container::before {
  transition: 0.5s ease-in;
  background-color: rgba(230, 230, 230, 0);
}
.card.rounded:hover .img-container {
  position: relative;
}
.card.rounded:hover .img-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(230, 230, 230, 0.8078431373);
  transition: 0.5s ease-in;
}
.card.hovered-gray:hover {
  position: relative;
}
.card.hovered-gray:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(230, 230, 230, 0.8078431373);
  transition: 0.5s ease-in;
}

.search-video-wrapper {
  margin-top: 10px;
}
.search-video-wrapper .input-group {
  border: none;
  position: relative;
}
.search-video-wrapper .input-group .input-group-text {
  border: none;
  position: absolute;
  z-index: 6;
  left: 0;
  background: none;
}
.search-video-wrapper .input-group input {
  padding-left: 43px;
}
.search-video-wrapper .input-group input:focus {
  background: #e0e0e0;
}
.search-video-wrapper .video-suggestions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  position: relative;
}
.search-video-wrapper .video-suggestions .video-thum {
  width: 33.3333333333%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  position: relative;
  padding: 10px;
}
.search-video-wrapper .video-suggestions .video-thum::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.6901960784);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.search-video-wrapper .video-suggestions .video-thum > * {
  color: #fff;
  font-weight: bold;
  position: relative;
  z-index: 10;
}
.search-video-wrapper .video-suggestions .video-thum .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 6em;
  transform: translate(-50%, -50%);
  font-weight: unset;
}
.search-video-wrapper .video-suggestions .video-thum .length {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.search-video-wrapper .video-suggestions .suggestion-items {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 12;
  display: none;
  gap: 5px;
  flex-wrap: wrap;
}
.search-video-wrapper .video-suggestions .suggestion-items span {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.4117647059);
  border-radius: 100px;
  padding: 10px;
  cursor: pointer;
  min-width: 100px;
}
.search-video-wrapper .video-suggestions .suggestion-items span:hover {
  color: #5c5c5c;
}

.user {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}
.user:hover .user-info-card {
  display: block;
}
.user img {
  width: 40px;
  height: 40px;
  max-width: 40px;
  max-height: 40px;
  min-width: 40px;
  min-height: 40px;
}
.user .right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.user .user-info-card {
  min-width: 300px;
  min-height: 150px;
  border: 1px solid #cfcfcf;
  position: absolute;
  background-color: #fff;
  z-index: 1;
  top: 40px;
  border-radius: 5px;
  padding: 15px;
  left: 0;
  display: none;
}
.user .user-info-card .user-top {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1em;
}
.user .user-info-card .user-top .user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.user .user-info-card .user-top .user-info span {
  font-size: 0.8em;
}
.user .user-info-card .user-top .user-info span.user-name {
  font-size: 0.9em;
  font-weight: 700;
}
.user .user-info-card .user-bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}
.user .user-info-card .user-bottom span {
  font-size: 0.9em;
}
.user .user-info-card .btn {
  margin-top: 15px;
  min-width: 100%;
}

.more-vert {
  position: relative;
}
.more-vert .trigger {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.more-vert ul {
  position: absolute;
  background-color: #ffffff;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 200px;
  right: 20px;
  border: 1px solid #eeeeee;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1411764706);
  border-radius: 2px;
  display: none;
  z-index: 10;
}
.more-vert ul li {
  width: 100%;
  padding: 10px;
}
.more-vert ul li:hover {
  background-color: #e6e6e6;
}
.more-vert ul li a {
  display: flex;
  align-items: center;
  gap: 3px;
  width: 100%;
  height: 100%;
  font-size: 0.7em;
}
.more-vert ul li a span {
  font-size: 2em;
}

.post-img {
  position: relative;
}
.post-img .expand {
  position: absolute;
  padding: 5px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  right: 10px;
  top: 10px;
  display: none;
}
.post-img:hover .expand {
  display: block;
  cursor: pointer;
}

.custom-modal {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: #fff;
  left: 0;
  top: 0;
  display: none;
}
.custom-modal .modal-control {
  position: absolute;
  top: 10px;
}
.custom-modal .modal-control span {
  font-size: 2.5em;
}
.custom-modal .modal-control.toggle-full {
  left: 10px;
}
.custom-modal .modal-control.close-modal {
  right: 10px;
}

.custom-pagination {
  margin: 0 auto !important;
  width: -moz-fit-content;
  width: fit-content;
}
.custom-pagination * {
  border: none !important;
  color: #777777;
  font-weight: 300;
}
.custom-pagination .pagination .page-item.active {
  font-weight: 900;
}
.custom-pagination .pagination .page-item.active a {
  background: unset;
  color: #000;
  font-weight: 600;
}

.card.img-overlayed {
  border: unset;
}
.card.img-overlayed img {
  height: 388px;
}

.review-list {
  border: 1px solid rgba(0, 0, 0, 0.2117647059);
  border-radius: 10px;
  min-height: 100px;
}
.review-list .header {
  height: 70px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2117647059);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px;
}
.review-list .header:last-child {
  border-bottom: 0;
}
.review-list .table {
  margin-bottom: 0;
}
.review-list .table .custom-pagination {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.review-list .table .custom-pagination .page-item {
  width: 40px;
  height: 40px;
}
.review-list .table .custom-pagination .page-item a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px !important;
}
.review-list .table tbody td:first-child {
  padding-left: 20px;
}
.review-list .table tbody td:not(:first-child) {
  padding-top: 15px;
}

.table {
  color: #ffffff !important;
}
.table thead tr th {
  color: rgba(0, 0, 0, 0.5254901961);
}
.table tbody tr td {
  color: rgba(0, 0, 0, 0.768627451) !important;
}

.slotsiteranking-review-card {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border: 3px solid #e4e4e4;
}
.slotsiteranking-review-card:nth-child(even) {
  background: #f4f4f4;
}
.slotsiteranking-review-card .review, .slotsiteranking-review-card .spins {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slotsiteranking-review-card .review .stars, .slotsiteranking-review-card .spins .stars {
  display: flex;
  align-items: center;
  gap: 2px;
}
.slotsiteranking-review-card .review .review-text, .slotsiteranking-review-card .spins .review-text {
  text-decoration: underline;
  font-weight: 700;
  color: #c9c3b1;
  text-decoration-thickness: 3px;
}
.slotsiteranking-review-card .avails div {
  display: flex;
}
.slotsiteranking-review-card .avails div .material-symbols-outlined {
  color: #1aa526;
}
.slotsiteranking-review-card .button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notifications {
  position: relative;
}
.notifications .count {
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 100px;
  background-color: red;
  min-width: 25px;
  right: -19px;
  font-size: 10px;
  font-weight: bold;
  top: 0px;
  text-align: center;
}

.user-profile {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.user-profile .profile-drop {
  position: absolute;
  top: 42px;
  right: 50px;
  background: #fff;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid rgba(0, 0, 0, 0.2117647059);
  display: none;
}
.user-profile .profile-drop ul {
  width: 100%;
  height: 100%;
  padding: 15px 20px;
}
.user-profile .profile-drop ul li {
  padding: 9px 0;
  width: 100%;
  height: 100%;
  text-align: left;
}
.user-profile .profile-drop ul li a {
  color: #000 !important;
  display: block !important;
  text-align: left;
  white-space: nowrap;
  width: 100%;
  height: 100%;
}
.user-profile .profile-drop ul li:hover a {
  color: #838383 !important;
}
.user-profile .profile-drop ul li:last-child {
  border-top: 1px solid rgba(0, 0, 0, 0.2117647059);
}

.file-input__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  width: 100px;
  height: 100px;
}
.file-input__label svg {
  height: 16px;
  margin-right: 4px;
}

.account-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.account-nav li {
  padding: 15px 10px;
  border-top: 5px solid rgba(218, 204, 148, 0);
}
.account-nav li a {
  display: block;
  width: 100%;
  height: 100%;
}
.account-nav li:hover {
  border-top: 5px solid #dacc94;
}
.account-nav li:hover a {
  color: #dacc94;
}
.account-nav li.active {
  border-top: 5px solid #a3996f;
}
.account-nav li.active a {
  color: #a3996f;
}

.btn {
  display: flex;
  align-items: center;
  gap: 5px;
}

.form-control:focus {
  box-shadow: unset;
  border-color: #1a1a1a;
}

.input-group {
  border: 1px solid rgba(0, 0, 0, 0.3882352941);
  border-radius: 5px;
  overflow: hidden;
}
.input-group .input-group-text .material-symbols-outlined {
  color: #909090 !important;
}

.main-search-text {
  border: unset;
  border-bottom: 2px solid #ebe5d6;
}
.main-search-text .input-group-text {
  background-color: #ebe5d6;
  color: #000;
}

.my-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.my-row.col-2 > * {
  width: 50%;
}

.sub-title {
  font-family: "Black Han Sans";
  text-align: center;
  font-weight: 500;
  font-size: 2em;
  color: #8c8b8b;
  margin-bottom: 20px;
}

.sub-title-2 {
  font-family: "Black Han Sans";
  text-align: center;
  font-weight: 300;
  font-size: 1.2em;
  color: #8c8b8b;
  margin-bottom: 20px;
}

.sub-title-no-size {
  font-family: "Black Han Sans";
  text-align: center;
  font-weight: 200;
  color: #8c8b8b;
  margin-bottom: 20px;
}

#carousel .cloud9-item, #buttons button {
  cursor: pointer;
}

.carousel {
  padding: 20px;
  perspective: 500px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carousel > * {
  flex: 0 0 auto;
}
.carousel figure {
  margin: 0;
  width: 40%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.carousel figure a {
  width: 100%;
  box-sizing: border-box;
  padding: 0 0px;
  display: block;
}
.carousel figure a:not(:first-of-type) {
  position: absolute;
  left: 0;
  top: 0;
}
.carousel figure a img {
  width: 100%;
  box-sizing: border-box;
  padding: 0 0px;
  transition: 0.5s ease-in-out;
  filter: grayscale(0.7);
}
.carousel figure a img:not(:first-of-type) {
  position: absolute;
  left: 0;
  top: 0;
}
.carousel figure a:hover img {
  filter: grayscale(0);
}
.carousel nav {
  display: flex;
  justify-content: center;
  margin: 20px 0 0;
}
.carousel nav button {
  flex: 0 0 auto;
  margin: 0 5px;
  cursor: pointer;
  color: #333;
  background: none;
  border: 1px solid;
  letter-spacing: 1px;
  padding: 5px 10px;
}

.btn {
  text-align: center !important;
  justify-content: center;
  border-radius: 0;
}
.btn.btn-black {
  background-color: #000;
}
.btn.btn-outline-black {
  border-color: #000;
  color: #000;
}
.btn.btn-dark-yellow {
  background: #A3996F;
  color: #fff;
}
.btn.btn-outline-dark-yellow {
  border: 1px solid #A3996F;
  color: #A3996F;
}
.btn.btn-dark-green {
  background: #3F7652;
  color: #fff;
}
.btn.btn-dark-blue {
  background: #074151;
  color: #fff;
}
.btn.btn-gradient-red-blue {
  background: linear-gradient(69deg, #1a53bd, #ff491b);
  color: #fff;
  border: unset;
}
.btn.btn-yellow {
  background: #dacc94;
  color: #fff;
}
.btn.btn-yellow:hover {
  background: unset;
  color: #000;
  border-color: #000;
}
.btn.btn-outline-yellow {
  border: 1px solid #dacc94;
  color: #dacc94;
  white-space: nowrap;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.tooltip-white {
  --bs-tooltip-bg: white;
  --bs-tooltip-color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1843137255);
}

.text-left {
  text-align: left !important;
}

.yellow-dark {
  color: #a1660c !important;
}

.yellow-dark-2 {
  color: #a1660c !important;
}

.yellow-dark-3 {
  color: #a3996f !important;
}

.green-dark {
  color: #6d664a !important;
}

.yellow {
  color: #dacc94 !important;
}

.violet {
  color: #C34FDC !important;
}

.my-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.my-row.my-col-3 > * {
  width: calc(33.3333333333% - 10px);
}
.my-row.my-col-2 > * {
  width: calc(50% - 10px);
}
.my-row.my-col-4 > * {
  width: calc(25% - 10px);
}

.mt-6 {
  margin-top: 6rem;
}

.rounded-sm {
  border-radius: 5px;
}

.btn.btn-primary-gradient {
  background: linear-gradient(90deg, rgb(95, 91, 205) 0%, rgb(237, 88, 24) 100%);
  color: #fff;
}
.btn.rounded {
  border-radius: 100px !important;
}
.btn.btn-violet {
  background-color: #C34FDC;
  color: #fff;
}
.btn.btn-dark-yellow {
  background: #a3996f;
}
.btn.btn-dark-blue {
  background: #074151;
  color: #fff;
}

.bg-violet {
  background-color: #C34FDC;
}

.bold {
  font-weight: 700;
}

.bolder {
  font-weight: 900;
}

.light {
  font-weight: 300;
}

.lighter {
  font-weight: 100;
}

.main-heading-text {
  font-size: 5em;
  font-family: "Gasoek One";
}

.main-heading-text-2 {
  font-size: 4em;
  font-family: "Gasoek One";
}

p {
  margin-bottom: 1.4em;
}

.gap-sm {
  gap: 10px;
}

.gap-md {
  gap: 15px;
}

.gap-lg {
  gap: 25px;
}

.profile-icon {
  font-size: 2.3em !important;
}

.maroon {
  color: #902052;
}

.df-ac {
  display: flex;
  align-items: center;
  gap: 5px;
}

.df-acjb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.underlined {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.rainbow {
  background: -webkit-linear-gradient(69deg, #3dbdfe, #fe06a9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink {
  color: #fe06a9;
}

.dropdown-toggle::after {
  display: none;
}

.yellow-hover:hover {
  color: #A3996F !important;
}

a.lined-hover:hover {
  text-decoration: underline;
}

.bordered {
  border: 1px solid rgba(0, 0, 0, 0.1607843137);
}

.bordered-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1607843137);
}

.bg-gray {
  background: #e4e4e4;
}

.card-img-overlay.left-b {
  right: unset;
  top: unset;
  left: 10px !important;
  bottom: 10px !important;
}

.font-md {
  font-size: 1.5em;
}

.font-sm {
  font-size: 0.9em;
}

.font-xsm {
  font-size: 0.7em;
}

.sticky {
  position: sticky;
  top: 0;
}

.vid-container {
  max-width: 70%;
}

video {
  -webkit-clip-path: inset(1px 1px);
          clip-path: inset(1px 1px);
}

.bg-yellow {
  background: #ede5c7;
}

.form-select:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.sticky.active {
  position: fixed;
  top: 67px;
  right: 24%;
}

.mw-250 {
  max-width: 250px;
}

.mb-6 {
  margin-bottom: 5rem !important;
}

.border-none {
  border: none !important;
}

.bullet {
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bullet.sm {
  width: 10px;
  height: 10px;
}
.bullet.md {
  width: 30px;
  height: 30px;
}
.bullet.dark-green {
  background: #a3996f;
}

.gray-2 {
  background-color: #aaa9a9;
}

textarea:focus-visible {
  outline: none !important;
  border: none !important;
}

.nowrap {
  white-space: nowrap;
}

.mh-300 {
  min-height: 300px;
}

main {
  margin-top: 60px;
}
main section {
  font-size: 1.1em;
  padding: 30px 0;
}
main section.hero-section .hero-title {
  color: #dacc94;
  font-weight: 300;
  font-family: "Gasoek One";
  text-align: center;
  font-size: 7em;
  margin-bottom: 20px;
  color: #3f3f3f;
}
main section.content-section .why-choose {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}
main section.content-section .why-choose .choose-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 60%;
}
main section.content-section .why-choose .choose-item .left-side {
  background-image: url(../img/main-card-bullet.jpg);
  background-position: center;
  background-size: cover;
  width: 170px;
  height: 170px;
  text-shadow: #c8c8c8 1px 1px 0px, #b4b4b4 0px 2px 0px, #a0a0a0 0px 3px 0px, rgba(140, 140, 140, 0.498039) 0px 4px 0px, #787878 0px 0px 0px, rgba(0, 0, 0, 0.498039) 0px 5px 10px;
  font-size: 4em;
  font-weight: 400;
  font-family: "Black Han Sans";
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3f3f3f;
}
main section.content-section .why-choose .choose-item .right-side {
  width: 74%;
}
main section.content-section .why-choose .choose-item .right-side h4 {
  font-weight: 900;
  color: #3f3f3f;
  margin-bottom: 15px;
}
main section.content-section .keep-in-mind {
  text-align: center;
}
main section.content-section .keep-in-mind p:first-child {
  font-weight: 700;
}
main section.content-section .google-ss {
  width: 600px;
  margin: 0 auto;
}
main section.section-latest .slot-recommend .reco-img {
  width: 400px;
}
main section.contact-section .slot-logo {
  width: 150px;
}
main section.guarantee-section {
  font-size: 1.2em !important;
}
main section.guarantee-section .heading-hor {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
  border-bottom: 3px solid #4e4e4e;
}
main section.guarantee-section .heading-hor a {
  font-weight: 900;
  text-decoration: underline;
}
main section.event-section .container > .bordered {
  width: 100%;
}
main section.event-section .container > .bordered .event-hash {
  display: block;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
main section.event-section .container .social-links {
  padding: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1803921569);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1803921569);
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main section.event-section .container .social-links .socials {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.2em;
}
main section.event-section .container .social-links .socials a {
  color: #3f3f3f;
}
main section.event-section .container .social-links .socials a:hover:not(:last-child) {
  color: #2ab5ff;
}
main section.hero-sub-section video {
  width: 100%;
}
main section.hero-sub-section.max-height {
  max-height: 351px;
  overflow: hidden;
}
main section.hero-sub-section h1 {
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 5em;
  color: #fff !important;
  font-weight: 700 !important;
}
main section.online-slot-section .choices {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}
main section.online-slot-section .choices .choice {
  width: calc(25% - 30px);
  text-align: center;
}
main section.online-slot-section .choices .choice .btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
main section.online-slot-section .choices .choice img {
  transform: scale(1);
  transition: 0.5s ease-in-out;
}
main section.online-slot-section .choices .choice:hover img {
  transform: scale(0.8);
}
main section.slot-rev-hero img {
  width: 400px;
}
main section.slot-rev-hero img.img-sm {
  width: 200px;
}
main section.review-section .hero-wrapper {
  border-radius: 10px;
  overflow: hidden;
}
main section.account-section .profile-cover {
  background: #6d664a;
  height: 250px;
  position: relative;
}
main section.account-section .profile-cover .cover-change {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 150px;
  height: 50px;
  cursor: pointer !important;
}
main section.account-section .profile-cover .cover-change label {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  cursor: pointer;
}
main section.account-section .profile-cover .cover-change input {
  height: 100%;
  width: 100%;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  cursor: pointer;
}
main section.account-section .profile-cover .cover-change .visible-icon {
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 7px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 0;
}
main section.account-section .profile-cover .cover-change .visible-icon i {
  font-size: 1.3em;
  color: #fff;
  cursor: pointer;
}
main section.account-section .profile-cover .cover-change .visible-icon span {
  white-space: nowrap;
  color: #fff;
  visibility: hidden;
}
main section.account-section .profile-cover .cover-change:hover .visible-icon {
  background-color: rgba(0, 0, 0, 0.4039215686);
}
main section.account-section .profile-cover .cover-change:hover .visible-icon span {
  visibility: visible;
}
main section.account-section .profile-cover .profile-details {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  bottom: 10px;
  left: 20px;
}
main section.account-section .profile-cover .profile-details .file-input {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 100px;
  overflow: hidden;
  cursor: pointer;
}
main section.account-section .profile-cover .profile-details .file-input label {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
main section.account-section .profile-cover .profile-details .file-input input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
main section.account-section .profile-cover .profile-details .file-input .avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
main section.account-section .profile-cover .profile-details .file-input .hover-cam {
  display: none;
}
main section.account-section .profile-cover .profile-details .file-input:hover .hover-cam {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5333333333);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 8;
  color: #fff;
}
main section.account-section .profile-cover .profile-details p {
  margin-bottom: 0;
  font-size: 1.8em;
  color: #fff;
  font-weight: 600;
}
main section.account-section .profile-cover .profile-details .counts {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}
main section.account-section .profile-cover .profile-details .counts a {
  color: #fff;
}
main section.account-section .profile-cover .profile-details .counts a span {
  margin-right: 10px;
}
main section.account-section .profile-cover .more-vert {
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  right: 20px;
  bottom: 20px;
  position: absolute;
}
main section.account-section .profile-bio {
  border: 1px solid rgba(0, 0, 0, 0.1607843137);
  height: 99px;
  margin-top: 20px;
  padding: 15px;
  color: #adacac;
}
main section.account-section .profile-bio:hover {
  background: #e4e4e4;
  cursor: pointer;
}

footer {
  background: #e4e4e4;
  height: 300px;
  padding: 20px;
}
footer.no-border {
  border: none !important;
  border-color: none !important;
}
footer .links {
  display: flex;
  justify-content: space-around;
}
footer .links ul li:first-child {
  font-weight: 900;
}
footer .links ul li a {
  text-decoration: underline;
}
footer .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
footer .icons a img {
  width: 32px;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1000px;
  }
}/*# sourceMappingURL=style.css.map */