/* noto-sans-kr-100 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url('fonts/noto-sans-kr-v36-latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* noto-sans-kr-200 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 200;
    src: url('fonts/noto-sans-kr-v36-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* noto-sans-kr-300 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/noto-sans-kr-v36-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* noto-sans-kr-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/noto-sans-kr-v36-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* noto-sans-kr-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/noto-sans-kr-v36-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* noto-sans-kr-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/noto-sans-kr-v36-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* noto-sans-kr-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/noto-sans-kr-v36-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* noto-sans-kr-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 800;
    src: url('fonts/noto-sans-kr-v36-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* noto-sans-kr-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url('fonts/noto-sans-kr-v36-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* gasoek-one-regular - korean_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Gasoek One';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/gasoek-one-v3-korean_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* black-han-sans-regular - korean_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Black Han Sans';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/black-han-sans-v17-korean_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* noto-sans-kr-200 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'DX-Regular';
    font-style: normal;
    font-weight: 200;
    src: url('fonts/DX-Regular.woff') format('woff'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
html,body {
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    margin: 0;
    line-height: 1.5;
    position: relative;
    font-size: 15px;
    scroll-behavior: smooth;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 100;
    overflow-x: hidden !important;
}
*,
::after,
::before {
    box-sizing: border-box;
}

.is-unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
      upported by Chrome, Edge, Opera and Firefox */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
hr {
    border: 1px solid #797979;
    margin: 1.425rem 0;
}

button,
input[type="submit"],
input:not([type="checkbox"], [type="radio"]) {
    font-family: "Roboto", sans-serif;
    border: unset;
    height: 39px;
}
button,
input[type="submit"] {
    cursor: pointer;
    width: 100%;
    max-width: 240px;
}

button {
    // background-color: #233446;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    line-height: normal;
    text-decoration: none;
    text-align: center;
    color: #000000;
    transition: filter 0.3s ease-in-out;
}

img,
svg {
    vertical-align: middle;
}

img {
    width: 100%;
}

.carousel-caption{
    z-index: 10000 !important;
}
.disabled{
    cursor: not-allowed;
    pointer-events: none;
}

.mobile{
    display: none;
}
.desktop{
    display: block;
}