main{
    margin-top: 60px;
    section{
        font-size: 1.1em;
        padding: 30px 0;
        &.hero-section{
            .hero-title{
                color: #dacc94;
                font-weight: 300;
                font-family: 'Gasoek One';
                text-align: center;
                font-size: 7em;
                margin-bottom: 20px;
                color: #3f3f3f;
            }
        }
        &.content-section{
            .why-choose{
                padding: 30px 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 3em;
                .choose-item{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 0;
                    width: 60%;
                    .left-side{
                        background-image: url(../img/main-card-bullet.jpg);
                        background-position: center;
                        background-size: cover;
                        width: 170px;
                        height: 170px; 
                        text-shadow: #c8c8c8 1px 1px 0px, #b4b4b4 0px 2px 0px, #a0a0a0 0px 3px 0px, rgba(140, 140, 140, 0.498039) 0px 4px 0px, #787878 0px 0px 0px, rgba(0, 0, 0, 0.498039) 0px 5px 10px;        
                        font-size: 4em;
                        font-weight: 400;
                        font-family: 'Black Han Sans';
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #3f3f3f;
                    }
                    .right-side{
                        width: 74%;    
                        h4{
                            font-weight: 900;
                            color: #3f3f3f;
                            margin-bottom: 15px;
                        }
                    }
                }
            }
            .keep-in-mind{
                text-align: center;
                p{
                    &:first-child{
                        font-weight: 700;
                    }
                }
            }
            .google-ss{
                width: 600px;
                margin: 0 auto;
            }
        }
        &.section-latest{
            .slot-recommend{
                .reco-img{
                    width: 400px;
                }
            }
        }
        &.contact-section{
            .slot-logo{
                width: 150px;
            }   
        }
        &.guarantee-section{
            font-size: 1.2em  !important;
            .heading-hor{
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding: 20px 0;
                border-bottom: 3px solid #4e4e4e;
                a{
                    font-weight: 900;
                    text-decoration: underline;
                }
            }
        }
        &.event-section{
            .event-cont-header{

            }
            .container{
                >{
                    .bordered{
                        width: 100%;
                        .event-hash{
                            display: block;
                            white-space: nowrap;
                            width: 100%;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                    }
                }
                .social-links{
                    padding: 20px 0;
                    border-top: 1px solid #0000002e;
                    border-bottom: 1px solid #0000002e;
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .socials{
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        font-size: 1.2em;
                        a{
                            color: #3f3f3f;
                            &:hover{
                                &:not(:last-child){
                                    color: #2ab5ff;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.hero-sub-section{
            video{
                width: 100%;
            }
            &.max-height{
                max-height: 351px;
                overflow: hidden;
            }
            h1{
                position: absolute;
                top: 45px;
                left: 50%;
                transform: translateX(-50%);
                font-size: 5em;
                color: #fff !important;
                font-weight: 700 !important;
            }
        }
        &.casino-games-section{
            
        }
        &.online-slot-section{
            .choices{
                display: flex;
                justify-content: space-around;
                gap: 15px;
                .choice{
                    width: calc(100% / 4 - 30px);
                    text-align: center;
                    .btn{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    img{
                        transform: scale(1);
                        transition: 0.5s ease-in-out;
                    }
                    &:hover{
                        img{
                            transform: scale(0.8);
                        }
                    }
                }
            }
        }
    }
}

footer{
    background: #e4e4e4;
    height: 300px;
    padding: 20px;
    .links{
        display: flex;
        justify-content: space-around;
        ul{
            li{
                &:first-child{
                    font-weight: 900;
                }
                a{
                    text-decoration: underline;
                }
            }
        }
    }
    .icons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        a{
            img{
                width: 32px;
            }
        }
    }
}