.btn{
    display: flex;
    align-items: center;
    gap: 5px;
}

.form-control:focus{
    box-shadow:unset;
    border-color: #1a1a1a;
}

.input-group{
    border: 1px solid #00000063;
    border-radius: 5px;
    overflow: hidden;
    .input-group-text{
        .material-symbols-outlined{
            color: #909090 !important;
        }
    }
}

.main-search-text{
    border: unset;
    border-bottom: 2px solid #ebe5d6;
    .input-group-text{
        background-color: #ebe5d6;
        color:#000;
    }
}
.my-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    &.col-2{
        >{
            *{
                width: calc(100% / 2);
            }
        }
    }
}

.sub-title{
    font-family: 'Black Han Sans';
    text-align: center;
    font-weight: 500;
    font-size: 2em;
    color: #8c8b8b;
    margin-bottom: 20px;
}
.sub-title-2{
    font-family: 'Black Han Sans';
    text-align: center;
    font-weight: 300;
    font-size: 1.2em;
    color: #8c8b8b;
    margin-bottom: 20px;
}
.sub-title-no-size{
    font-family: 'Black Han Sans';
    text-align: center;
    font-weight: 200;
    color: #8c8b8b;
    margin-bottom: 20px;
}

#carousel .cloud9-item, #buttons button {
    cursor: pointer;
}


// Carousel configuration parameters
$item-width: 40%; // Now we can use percentages!
$item-separation: 0px; // This now is set with Js
$viewer-distance: 500px;

.carousel {
	padding: 20px;

	perspective: $viewer-distance;
	overflow: hidden;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	> * {
		flex: 0 0 auto;
	}
	
	figure {
		margin: 0;
		
		width: $item-width;
		transform-style: preserve-3d;
		transition: transform 0.5s;
		
		a{
            width: 100%;
            box-sizing: border-box;
            padding: 0 $item-separation;
            display: block;
            &:not(:first-of-type) {
                position: absolute;
                left: 0;
                top: 0;
            }
            img {
                width: 100%;
                box-sizing: border-box;
                padding: 0 $item-separation / 2;
                transition: 0.5s ease-in-out;
                filter: grayscale(0.7);
                &:not(:first-of-type) {
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
            &:hover{
                img{
                    filter: grayscale(0);
                }
            }
        }
	}
	
	nav {
		display: flex;
		justify-content: center;
		margin: 20px 0 0;
		
		button {
			flex: 0 0 auto;
			margin: 0 5px;
			
			cursor: pointer;
			
			color: #333;
			background: none;
			border: 1px solid;
			letter-spacing: 1px;
			padding: 5px 10px;
		}
	}
	
}
.btn{
    text-align: center !important;
    justify-content: center;
    &.btn-black{
        background-color: #000;
    }
    &.btn-dark-yellow{
        background: #A3996F;
        color: #fff;
    }
    &.btn-dark-green{
        background: #3F7652;
        color: #fff;
    }
    &.btn-dark-blue{
        background: #074151;
        color: #fff;
    }
    &.btn-gradient-red-blue{
        background: linear-gradient(69deg, #1a53bd, #ff491b);
        color: #fff;
        border: unset;
    }
    &.btn-yellow{
        background: #dacc94;
        color: #fff;
        &:hover{
            background:unset;
            color: #000;
            border-color: #000;
        }
    }
    &.btn-outline-yellow{
        border: 1px solid #dacc94;
        color: #dacc94;
        white-space: nowrap;
    }
}
.w-fit{
    width: fit-content;
}

.text-left{
    text-align: left !important;
}

.yellow-dark{
    color: #a1660c !important;
}
.yellow-dark-2{
    color: #a1660c !important;
}
.yellow-dark-3{
    color: #a3996f !important;
}
.green-dark{
    color: #6d664a !important;
}
.yellow{
    color: #dacc94 !important;
}
.violet{
    color: #C34FDC !important;
}


.my-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &.my-col-3{
        >{
            *{
                width: calc(100% / 3 - 10px);
            }
        }
    }
    &.my-col-2{
        >{
            *{
                width: calc(100% / 2 - 10px);
            }
        }
    }
    &.my-col-4{
        >{
            *{
                width: calc(100% / 4 - 10px);
            }
        }
    }
}

.mt-6{
    margin-top: 6rem;
}
.rounded-sm{
 border-radius: 5px;
}
.btn{
    &.btn-primary-gradient{
        background: linear-gradient(90deg, rgb(95 91 205) 0%, rgb(237 88 24) 100%);
        color: #fff;
    }
    &.rounded{
        border-radius: 100px !important;
    }
    &.btn-violet{
        background-color: #C34FDC;
        color: #fff;
    }
    &.btn-dark-yellow{
        background: #a3996f;
    }
    &.btn-dark-blue{
        background: #074151;
        color: #fff;
    }
}
.bg-violet{
    background-color: #C34FDC;
}
.bold{
    font-weight: 700;
}

.bolder{
    font-weight: 900;
}

.main-heading-text{
    font-size: 5em;
    font-family: "Gasoek One";
}
.main-heading-text-2{
    font-size: 4em;
    font-family: "Gasoek One";
}

p{
    margin-bottom: 1.4em;
}
.gap-sm{
    gap: 10px;
}
.gap-md{
    gap: 15px;
}
.profile-icon{
    font-size: 2.3em !important;
}
.maroon{
    color: #902052;
}

.df-ac{
    display: flex;
    align-items: center;
    gap: 5px;
}
.df-acjb{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.underlined{
    text-decoration: underline;
}

.italic{
    font-style: italic;
}

.rainbow{
    background: -webkit-linear-gradient(69deg,#3dbdfe,#fe06a9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pink{
    color: #fe06a9;
}

.dropdown-toggle::after{
    display: none;
}

.yellow-hover{
    &:hover{
        color:#A3996F !important;
    }
}
a{
    &.lined-hover{
        &:hover{
            text-decoration: underline;
        }
    }
}
.bordered{
    border: 1px solid #00000029;
}
.bordered-bottom{
    border-bottom: 1px solid #00000029;
}
.bg-gray{
    background: #e4e4e4;
}


.card-img-overlay{
    &.left-b{
        right: unset;
        top: unset;
        left: 10px !important;
        bottom: 10px !important;
    }
}

.font-md{
    font-size: 1.5em;
}
.font-sm{
    font-size: .9em;
}
.font-xsm{
    font-size: .7em;
}

.sticky{
    position: sticky;
    top: 0;
}
.vid-container{
    max-width: 70%;
}


video{
    clip-path: inset(1px 1px);
}

.bg-yellow{
    background: #ede5c7;
}

.form-select{
    &:focus{
        outline: none;
        border: none;
        box-shadow: none;
    }
}

.sticky.active {
    position: fixed;
    top: 67px; 
    right: 24%;
  }

  .mw-250{
    max-width: 250px;
  }
.mb-6{
    margin-bottom: 5rem!important;
}