.btn{
    display: flex;
    align-items: center;
    gap: 5px;
}

.form-control:focus{
    box-shadow:unset;
    border-color: #1a1a1a;
}

.input-group{
    border: 1px solid #00000063;
    border-radius: 5px;
    overflow: hidden;
    .input-group-text{
        .material-symbols-outlined{
            color: #909090 !important;
        }
    }
}

.main-search-text{
    border: unset;
    border-bottom: 2px solid #ebe5d6;
    .input-group-text{
        background-color: #ebe5d6;
        color:#000;
        
    }
    input{
        text-align: center;
    }
    ::placeholder {
        text-align: center;
    }
}
.my-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    &.col-2{
        >{
            *{
                width: calc(100% / 2);
            }
        }
    }
}

.sub-title{
    font-family: 'Black Han Sans';
    text-align: center;
    font-weight: 500;
    font-size: 2em;
    color: #8c8b8b;
    margin-bottom: 20px;
}
.sub-title-2{
    font-family: 'Black Han Sans';
    text-align: center;
    font-weight: 300;
    font-size: 1.2em;
    color: #8c8b8b;
    margin-bottom: 20px;
}
.sub-title-no-size{
    font-family: 'Black Han Sans';
    text-align: center;
    font-weight: 200;
    color: #8c8b8b;
    margin-bottom: 20px;
}

#carousel .cloud9-item, #buttons button {
    cursor: pointer;
}


// Carousel configuration parameters
$item-width: 50%; // Now we can use percentages!
$item-separation: 0px; // This now is set with Js
$viewer-distance: 1000px;

.carousel {
	padding: 5px;

	perspective: $viewer-distance;
	overflow: hidden;
	
	display: flex;
	flex-direction: column;
	align-items: center;
    margin: 5em 0;
	> * {
		flex: 0 0 auto;
	}
	
	figure {
		margin: 0;
		
		width: $item-width;
		transform-style: preserve-3d;
		transition: transform 0.5s;
		
		a{
            width: 100%;
            box-sizing: border-box;
            padding: 0 $item-separation;
            display: block;
            padding: 0;
            &:not(:first-of-type) {
                position: absolute;
                left: 0;
                top: 0;
            }
            img {
                width: 100%;
                box-sizing: border-box;
                padding: 0 $item-separation / 2;
                transition: 0.5s ease-in-out;
                height: 300px;
                // filter: grayscale(0.7);
                &:not(:first-of-type) {
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
            // &:hover{
            //     img{
            //         filter: grayscale(0);
            //     }
            // }
        }
	}
	
	nav {
		display: flex;
		justify-content: center;
		margin: 20px 0 0;
		
		button {
			flex: 0 0 auto;
			margin: 0 5px;
			
			cursor: pointer;
			
			color: #333;
			background: none;
			border: 1px solid;
			letter-spacing: 1px;
			padding: 5px 10px;
		}
	}
	
}
.btn{
    text-align: center !important;
    justify-content: center;
    border-radius: 0;
    &.btn-black{
        background-color: #000;
    }
    &.btn-outline-black{
        border-color: #000;
        color: #000;
    }
    &.btn-dark-yellow{
        background: #A3996F;
        color: #fff;
    }
    &.btn-outline-dark-yellow{
        border:1px solid #A3996F;
        color: #A3996F;
    }
    &.btn-dark-green{
        background: #3F7652;
        color: #fff;
    }
    &.btn-dark-blue{
        background: #074151;
        color: #fff;
    }
    &.btn-gradient-red-blue{
        background: linear-gradient(69deg, #1a53bd, #ff491b);
        color: #fff;
        border: unset;
    }
    &.btn-yellow{
        background: #dacc94;
        color: #fff;
        &:hover{
            background:unset;
            color: #000;
            border-color: #000;
        }
    }
    &.btn-outline-yellow{
        border: 1px solid #dacc94;
        color: #dacc94;
        white-space: nowrap;
    }
}
// .text-dark{
//     color: #000 !important;
// }
.w-fit{
    width: fit-content;
}
.tooltip-white{
    --bs-tooltip-bg: white;
    --bs-tooltip-color: #000;
    box-shadow: 0 0 10px #0000002f;
}
.text-left{
    text-align: left !important;
}

.yellow-dark{
    color: #a1660c !important;
}
.yellow-dark-2{
    color: #a1660c !important;
}
.yellow-dark-3{
    color: #a3996f !important;
}
.green-dark{
    color: #6d664a !important;
}
.yellow{
    color: #dacc94 !important;
}
.violet{
    color: #C34FDC !important;
}


.my-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &.my-col-3{
        >{
            *{
                width: calc(100% / 3 - 10px);
            }
        }
    }
    &.my-col-2{
        >{
            *{
                width: calc(100% / 2 - 10px);
            }
        }
    }
    &.my-col-4{
        >{
            *{
                width: calc(100% / 4 - 10px);
            }
        }
    }
}

.mt-6{
    margin-top: 6rem;
}
.rounded-sm{
 border-radius: 5px;
}
.btn{
    &.btn-primary-gradient{
        background: linear-gradient(90deg, rgb(95 91 205) 0%, rgb(237 88 24) 100%);
        color: #fff;
    }
    &.rounded{
        border-radius: 100px !important;
    }
    &.btn-violet{
        background-color: #C34FDC;
        color: #fff;
    }
    &.btn-dark-yellow{
        background: #a3996f;
    }
    &.btn-dark-blue{
        background: #074151;
        color: #fff;
    }
}
.bg-violet{
    background-color: #C34FDC;
}
.bold{
    font-weight: 700;
}

.bolder{
    font-weight: 900;
}
.light{
    font-weight: 300;
}
.lighter{
    font-weight: 100;
}

.main-heading-text{
    font-size: 5em;
    font-family: "Gasoek One";
}
.main-heading-text-2{
    font-size: 4em;
    font-family: "Gasoek One";
}

p{
    margin-bottom: 1.4em;
}
.gap-sm{
    gap: 10px;
}
.gap-md{
    gap: 15px;
}
.gap-lg{
    gap: 25px;
}
.profile-icon{
    font-size: 2.3em !important;
}
.maroon{
    color: #902052;
}

.df-ac{
    display: flex;
    align-items: center;
    gap: 5px;
}
.df-acjb{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.underlined{
    text-decoration: underline;
}

.italic{
    font-style: italic;
}

.rainbow{
    background: -webkit-linear-gradient(69deg,#3dbdfe,#fe06a9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pink{
    color: #fe06a9;
}

.dropdown-toggle::after{
    display: none;
}

.yellow-hover{
    &:hover{
        color:#A3996F !important;
    }
}
a{
    &.lined-hover{
        &:hover{
            text-decoration: underline;
        }
    }
}
.bordered{
    border: 1px solid #00000029 !important;
}
.bordered-bottom{
    border-bottom: 1px solid #00000029;
}
.bg-gray{
    background: #e4e4e4;
}


.card-img-overlay{
    &.left-b{
        right: unset;
        top: unset;
        left: 10px !important;
        bottom: 10px !important;
    }
}
.input-focus{
    &:focus{
        border: 1px solid #000 !important;
    }
}
textarea{
    min-height: 200px !important;
}
.font-md{
    font-size: 1.5em;
}
.font-sm{
    font-size: .9em;
}
.font-xsm{
    font-size: .7em;
}

.sticky{
    position: sticky;
    top: 0;
}
.vid-container{
    max-width: 70%;
}


video{
    clip-path: inset(1px 1px);
}

.bg-yellow{
    background: #ede5c7;
}

.form-select{
    &:focus{
        outline: none;
        border: none;
        box-shadow: none;
    }
}

.sticky.active {
    position: fixed;
    top: 67px; 
  }

  .mw-250{
    max-width: 250px;
  }
.mb-6{
    margin-bottom: 5rem!important;
}

.border-none{
    border:none !important;
}


.bullet{
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
   &.sm{
    width: 10px;
    height: 10px;
   }
   &.md{
    width: 30px;
    height: 30px;
   }
    &.dark-green{
        background: #a3996f;
    }
}

.gray-2{
    background-color: #aaa9a9;
}


textarea{
    &:focus-visible{
        outline: none !important;
        border: none !important;
    }
}

.nowrap{
    white-space: nowrap;
}

.mh-300{
    min-height: 300px;
}

.form-switch{
    .form-check-input{
        width: 3.6em;
        height: 25px;
        border: unset;
        outline: unset;
        box-shadow: unset;
        background-color: #737373;
        &:checked{
            background-color: #a2986e;
            border: unset;
            outline: unset;
            box-shadow: unset;
        }
    }
}
.radio{
    .form-check-input{
        width: 1.5em;
        height: 1.5em;
        margin-right: 5px;
        display: flex;
        align-items: center;
        &:checked{
            background-color: #a3996f;
            border-color: #797979;
            width: 1.5em;
            height: 1.5em;
            outline: unset;
            border: unset;
        }
        &.dark{
            &:checked{
                background-color: #000;
                border-color:#000;
            }
        }
    }
}

.mobile-toggle{
    display: none;
}
.mobile{
    display: none !important;
}
.desktop{
    display: block;
}
.desktop-table{
    display: table;
}
.desktop-flex{
    display: flex;
}
.no-radius{
    border-radius: 0;
}
.button-check{
    width: 100px !important;
    border-radius: 0 !important;
    height: 41px !important;
    --bs-form-switch-bg:unset !important;
    position: relative;
    cursor: pointer;
    background-color: unset !important;
    border: 1px solid #a3996f !important;
    color: #a3996f !important;
    &:before{
        content: "구독 해제";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #a3996f !important;
        white-space: nowrap;
    }
    &:checked{
        background-color: #a3996f !important;
        &:before{
            content: "구독";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff !important;
        }
    }
}


.w-10{
    width: 10%;
}
.w-20{
    width: 20%;
}
.w-15{
    width: 15%;
}
.mw-40{
    min-width: 40px;
}
.mh-40{
    min-height: 40px;
}

.w-100px{
    width: 100px;
}
.w-130px{
    min-width: 137px;
}
.gray{
    color: #7c7c7c;
}

.aspect-small{
    min-width: 30px;
    min-height: 30px;
}

.separator-mobile{
    height: 10px;
    width: 100%;
    background-color: #e4e4e4;
}

.to-private{
    position: absolute;
    right: 46px;
    bottom: 19px;
}

.h-100{
    height: 100%;
    min-height: 100%;
}

.form-control{
    &.dark{
        border: 1px solid #000;
        border-radius: 0;
    }
    &:hover{
        border-width: 2px;
    }
    &:focus{
        border-width: 2px;
    }
    &.validation{
        border-color: red;
    }
    &.bottom-border{
        border: unset;
        border-bottom: 1px solid #000;
        border-radius: unset;
        &:hover{
            border-width: 2px;
        }
        &:focus{
            border-width: 2px;
        }
    }
}
.pointer{
    cursor: pointer;
}
.w-20{
    width: 20%;
}
.user-profile,.user,.first{
    cursor: pointer !important;
}


#slider{
height: 450px;
width: calc(100% + 304px);
left: 50%;
transform: translateX(-50%) scale(1);
overflow: visible !important;
margin-top: 30px;
 .card-2{
    width: 487px;
    img{
        height: 300px;
    }
 }
}

.w-85{
    width: 85%;
}

.w-fit{
    width: fit-content;
}

.carousel-control-prev-icon{
    background-image:url(../../img/arrow-left.png) !important;
}
.carousel-control-next-icon{
    background-image:url(../../img/arrow-right.png) !important;
} 


.fit-img{
    height: 100%;
    object-fit: cover;
}
.page-min-h{
    min-height: calc(100vh - 360px);
}


.card-with-img{
    img{
        height: 285px;
        object-fit: cover;
    }
}

.post-recent-card{
    height: 427px;
}  

.avatar{
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    overflow: hidden;
    &.avatar-sm{
        min-width: 30px;
        min-height: 30px;
        width: 30px;
        height: 30px;
    }
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}